@model List<CONSUMIR_API_TEST.Models.Device>
@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Gestión Devices</h1>
    @* <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>

<div class="card">
    <div class="card-header">
        <h5>Lista de devices</h5>
    </div>
    <div class="card-body">
        <a class="btn btn-success btn-sm" asp-action="Device" asp-controller="Home" asp-route-IdDevice="0">Crear Nuevo</a>
        <hr />
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id. Device</th>
                    <th>Id. Device Type</th>
                    <th>Display Name</th>
                    <th>Id. Controller</th>
                    <th>Enabled</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.IdDevice</td>                        
                        <td>@item.DeviceTypeId</td>
                        <td>@item.DisplayName</td>
                        <td>@item.ControllerId</td>
                        <td>@item.Enabled</td>
                        <td>
                           @*  <a class="btn btn-primary btn-sm " asp-action="Device" asp-controller="Home" asp-route-idDevice="@item.IdDevice"> Editar</a>
                            <a class="btn btn-danger btn-sm " asp-action="EliminarDevice" asp-controller="Home" asp-route-idDevice="@item.IdDevice"> Eliminar</a> *@

                            <a asp-action="Device" asp-controller="Home" asp-route-idDevice="@item.IdDevice" class="btn btn-primary btn-sm">Editar</a>
                            <a asp-action="EliminarDeviceAutorizacion" asp-controller="Home" asp-route-idDevice="@item.IdDevice" class="btn btn-danger btn-sm">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
